@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f0f9ff; /* sky-50 */
  color: #1f2937; /* gray-800 */
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px; /* space for fixed navbar */
}
nav {
  background-color: #bae6fd; /* sky-200 */
  color: #1f2937; /* gray-800 */
  padding: 12px 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}